*~
TAGS
cabal-dev
dist/
tmp/
*.tix
.hpc
*.prof
*.hi
*.o
*.swp
#*#
.#*
.DS_Store
**/.DS_Store
docs/templates/out
.cabal-sandbox/
cabal.sandbox.config
autom4te.cache/*
config.log
config.mk
config.status
include/HsIoStreamsHaProxyConfig.h
include/HsIoStreamsHaProxyConfig.h.in
